body {
    text-align: center;
}
#content-buttons {
    height: 500px;
    width: 400px;
    background: lightgray;   
    border-radius: 25px;
    border: 1px solid gray;
}
#content-display {
    width: 400px;
}
#content-display input {
    width: 392px;
    height: 90px;
    text-align: end;
    font-size: 60px;
    color: black;
    background-color: ghostwhite;
}
button {
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 3px;
    margin-top: 6px;
    margin-left: 3px;
    border-radius: 50px;
    background-color: ghostwhite;
}
button:hover {
    background: radial-gradient(circle, rgba(154,165,43,0) 50%, rgba(208,188,36,1) 80%);
}
#casecalc {
    background-color: silver;
    width: 550px;
    height: 675px;
    border: 1px solid black;
    border-radius: 25px;
}
#casecalc, #content-buttons, #content-display  {
    margin: auto;
    margin-top: 20px;
}
